@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #3674B5;
    font-family: Arial;
}

#col1 {
    background-color:  white;
    width: 400px;
    text-align: center;
    padding: 10px 38px 38px 38px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#col1 img {
    width: 100px;
    height: auto;
}


#col1 h2 {
    font-family: "Roboto", sans-serif;
}

#col1 label, p, option, button {
    font-family: "Kanit", serif;

}
  

.titulo {
    font-size: 32px;
    margin-top: 14px;
    margin-bottom: 12px;
    font-weight: bold;
}

.texto {
    font-size: 18px;
    font-weight: bold;
}

.pedido {
    margin-top: 32px;
    text-align: left;
}

.rotulo {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

.campo-texto {
    width: 100%;
    font-size: 16px;
    color: #434343;
    padding: 7px 13px;
    margin-bottom: 16px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    box-sizing: border-box;
}

.botao-reservar {
    width: 100%;
    background-color: #3674B5;
    color: white;   
    line-height: 150%;
    padding: 6px 0px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 16px;
}

#col2 {
    width: 700px;
    margin-left: 39px;
}



.oferta {
    font-size: 36px;
    font-weight: bold;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    font-weight: 900;
}

.destaque {
    color: #A1E3F9;
}

.texto-oferta {
    font-size: 20px;
    margin-top: 10px;
    color: white;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    
}

.tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}